.intro-wrapper {
  span.button-animated {
    $card-title-bordCol: #d1d1d1;

    color: white !important;

    &:before {
      animation: borderToRight 0.8s forwards ease-in;

      @keyframes borderToRight {
        99% {
          width: 100%;
          border-right: 0px solid transparent;
          border-radius: 10px 10px 0 0;
        }

        100% {
          width: 100%;
          border-right: 3px solid $card-title-bordCol;
          border-radius: 10px 10px 0 0;
        }
      }
    }

    &:after {
      animation: borderToLeft 0.8s forwards;

      @keyframes borderToLeft {
        99% {
          width: 100%;
          border-left: 0px solid transparent;
          border-radius: 0 0 10px 10px;
        }

        100% {
          width: 100%;
          border-left: 3px solid $card-title-bordCol;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
}


.bar-main {
  span {
    color: white !important;
  }

  @keyframes intoView {
    60% {
      left: 50%;
    }

    100% {
      left: 0;
    }
  }

  @keyframes giveMeWidth {
    60% {
      width: 0;
      left: 70%;
    }

    100% {
      width: 80%;
      left: 20%;
    }
  }

  @keyframes shine {
    100% {
      left: 40px;
      transform: translate(100%);
    }
  }

  //fade in out animation
  /*
  
  
  animation section
  
  
  */
  .html-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .html-bar-value-animated {
        animation: nineZero 1.4s 1.4s forwards ease-out;

        @keyframes nineZero {
          100% {
            width: 90%;
          }
        }
      }
    }
  }

  .css-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 0.2s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 0.2s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .css-bar-value-animated {
        animation: eightZero 1.4s 1.6s forwards ease-out;

        @keyframes eightZero {
          100% {
            width: 80%;
          }
        }
      }
    }
  }

  .js-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 0.4s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 0.4s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .js-bar-value-animated {
        animation: sixFive 1.4s 1.8s forwards ease-out;

        @keyframes sixFive {
          100% {
            width: 65%;
          }
        }
      }
    }
  }

  .php-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 0.6s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 0.6s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .php-bar-value-animated {
        animation: twoFive 1.4s 2.0s forwards ease-out;

        @keyframes twoFive {
          100% {
            width: 25%;
          }
        }
      }
    }
  }

  .bootstrap-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 0.8s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 0.8s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .bootstrap-bar-value-animated {
        animation: fourfive 1.4s 2.2s forwards ease-out;

        @keyframes fourfive {
          100% {
            width: 45%;
          }
        }
      }
    }
  }

  .jquery-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 1.0s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 1.0s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .jquery-bar-value-animated {
        animation: towZero 1.4s 2.4s forwards ease-out;

        @keyframes towZero {
          100% {
            width: 30%;
          }
        }
      }
    }
  }

  .ui-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 1.2s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 1.2s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .ui-bar-value-animated {
        animation: fiveZero 1.4s 2.6s forwards ease-out;

        @keyframes fiveZero {
          100% {
            width: 50%;
          }
        }
      }
    }
  }

  .photoshop-value-wrapper-animate {
    .bar-title {
      animation: intoView 1s ease-out 1.4s forwards;
    }

    .bar-value {
      animation: giveMeWidth 1s ease-out 1.4s forwards;

      .bar-value-meter {
        &:before {
          animation: shine 1s forwards;
        }
      }

      .photoshop-bar-value-animated {
        animation: fourZero 1.4s 2.8s forwards ease-out;

        @keyframes fourZero {
          100% {
            width: 40%;
          }
        }
      }
    }
  }
}




main {
  @keyframes fontPop {
    0%{
      left: 50%;
      // opacity: 0;
      transform: translate(-50%, -50%);

    }
    50%{
      left: 55%;
      opacity: 0;
      transform: translate(-50%, -50%);

    }
    100%{
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%);

    }


  }
  .contact-title-animate,
  .about-title-animate
  {
    h1{
      animation: fontPop 1s forwards ease-in;
    }
  }
  

  @keyframes intoViewPop{
    30%{
      transform: scale(0.8, 1);
    }
    60%{
      transform: scale(1.4, 0);
    }
  }
  .card-icon1-animate,
  .card-icon2-animate,
  .card-icon3-animate,
  .card-icon4-animate, 
  .card-icon-animate
  {
    animation: intoViewPop 0.9s forwards;
  }
}